@using BaseApp.Interfaces
@using BaseApp.Models
@using System.Linq
@inject ICustomerService _customerService;
<h3>Dodaj klijenta</h3>

<MudContainer>
    <MudText Typo="Typo.h6">@customer.Name</MudText>
</MudContainer>

@code {
    [Parameter]
    public string? id { get; set; }
    private Customer customer = new();

    protected override async Task OnInitializedAsync()
    {
        var res = await _customerService.GetCustomerByOibAsync(id!);
        customer = res;
    }
}
