@using BaseAppPerla.Interfaces
@using BaseAppPerla.Models
@inject ITransactionService _transactionService
@inject NavigationManager Navigation

@if (isLoading)
{
    <p>Dohvaćam...</p>
    <MudProgressCircular Indeterminate="true" />
}
else if (stockReturns == null)
{
    <p>Podaci nisu pronađeni...</p>
}
else
{
    <MudCard>
        <MudCardContent>
            <MudTable Items="transactionId">
                <HeaderContent>
                    <MudTh>Artikl</MudTh>
                    <MudTh>Količina vraćena</MudTh>
                    <MudTh>Datum</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Delivery?.Inventory?.Item?.Description</MudTd>
                    <MudTd>@context.QuantityReturned</MudTd>
                    <MudTd>@context.TransactionDate</MudTd>
                </RowTemplate>
            </MudTable>
        </MudCardContent>
    </MudCard>
}

@code {
    [Parameter]
    public List<StockReturn>? transactionId { get; set; }

    private List<StockReturn>? stockReturns;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        stockReturns = await _transactionService.GetStockReturnsByDeliveryIdAsync(transactionId!.First().Delivery!.StockDeliveryId);
        isLoading = false;
    }
}
