@page "/additem"

@using BaseAppPerla.Interfaces
@using BaseAppPerla.Models
@inject IItemService _itemService
@inject NavigationManager Navigation

<h3>Artikli</h3>

<MudCard>
    <MudCardContent>
        <MudForm>
            <MudTextField @bind-Value="item.Description" Label="Opis" Required="true" />
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateCustomer">Dodaj artikl</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Surface" OnClick="NavigateToInventory">Natrag</MudButton>
    </MudCardActions>
</MudCard>

@code {
    private Item item = new();

    private async Task CreateCustomer()
    {
        var result = await _itemService.CreateItemAsync(item);
        if (result.IsSuccess)
        {
            item = result.Data!;
            await Application.Current!.MainPage!.DisplayAlert("Uspješno dodan artikl", $"Opis: {item.Description}", "OK");
            NavigateToInventory();
        }
        item = new Item();
    }
    private void NavigateToInventory()
    {
        Navigation.NavigateTo("/inventory", true);
    }
}
