@page "/addcustomer"

@using BaseAppPerla.Interfaces
@using BaseAppPerla.Models
@inject ICustomerService _customerService

<h3>Mušterije</h3>

<MudCard>
    <MudCardContent>
        <MudForm>
            <MudTextField @bind-Value="customer.Name" Label="Ime i prezime/naziv firme" Required="true" />
            <MudTextField @bind-Value="customer.Oib" Label="Oib" Required="true" MaxLength="11" />
            <MudTextField @bind-Value="customer.Email" Label="Email" Required="false" />
            <MudTextField @bind-Value="customer.Phone" Label="Kontakt broj" Required="false" />
            <MudTextField @bind-Value="customer.Address" Label="Adresa" Required="false" />
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateCustomer">Add Customer</MudButton>
    </MudCardActions>
</MudCard>

@code {
    private Customer customer = new();

    private async Task CreateCustomer()
    {
        await _customerService.CreateCustomerAsync(customer);
        customer = new Customer();
    }
}
